name: Function CI/CD

on:
  workflow_run:
    workflows: ["Infra CI/CD"]
    types: [completed]

  push:
    branches: [ main ]
    paths:
      - "function-app/**"
      - ".github/workflows/function.yml"

jobs:
  deploy:
    if: >
      github.event_name == 'push' ||
      (github.event_name == 'workflow_run' &&
       github.event.workflow_run.conclusion == 'success')

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - uses: Azure/functions-action@v1
        with:
          app-name: smart-serverless-func
          package: function-app
